<!DOCTYPE html>
<html>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
	<body>
    {{^session.valid}}
    <form action='/login' method='POST'>To log in, please use : admin/admin<br>
      User:<input type='text' name='USERNAME' placeholder='user name'><br>
      Password:<input type='password' name='PASSWORD' placeholder='password'><br>
      <input type='submit' name='SUBMIT' value='Login'>
    </form>
    {{/session.valid}}
    {{#session.valid}}
    <form action='/login' method='POST'>
      <input type='submit' name='DISCONNECT' value='Logout'>
    </form>
    {{/session.valid}}

    <dl>
			<dt>mac_address</dt>
      <dd class="monitor_changes {{host.mac_path}}">{{host.mac}}</dd>
			<dt>hostname</dt>
			<dd><input type="text" name="{{host.hostname_path}}" class="monitor_changes {{host.hostname_path}}" value="{{host.hostname}}" placeholder="hostname">
			</dd>
			<dt>&nbsp</dt><dd>&nbsp</dd>
			<dt>IP address</dt>
			<dd><input type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" 
					 name="{{host.nwconfigured.address_path}}" class="monitor_changes {{host.nwconfigured.address_path}}" value="{{host.nwconfigured.address}}" placeholder="{{host.nwconfigured.address}}">
					(0.0.0.0 for DHCP. Static boots quicker.)
		  </dd>
      <dt>Subnet mask</dt>
      <dd><input type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" name="{{host.nwconfigured.subnet_path}}"
           class="monitor_changes {{host.nwconfigured.subnet_path}}" value="{{host.nwconfigured.subnet}}" placeholder="{{host.nwconfigured.subnet}}">
      </dd>
      <dt>Gateway</dt>
      <dd><input type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" name="{{host.nwconfigured.gateway_path}}" 
           class="monitor_changes {{host.nwconfigured.gateway_path}}" value="{{host.nwconfigured.gateway}}" placeholder="{{host.nwconfigured.gateway}}">
      </dd>
      <dt>&nbsp</dt> <dd>&nbsp</dd>
      <dt>Static MQTT broker ip</dt>
      <dd><input type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" name="{{host.mqtt.broker.address_path}}" 
           class="monitor_changes {{host.mqtt.broker.address_path}}" value="{{host.mqtt.broker.address}}" placeholder="{{host.mqtt.broker.address}}">
           (0.0.0.0 to use mDNS auto discovery)
      </dd>
      <dt>Static MQTT broker port</dt>
      <dd><input type="number" class="monitor_changes {{host.mqtt.broker.port_path}}" value="{{host.mqtt.broker.port}}"></input>
      </dd>
      <dt>MQTT subscription prefix</dt>
      <dd><input type="text" name="{{host.mqtt.subscribe_prefix_path}}" class="monitor_changes {{host.mqtt.subscribe_prefix_path}}" 
           value="{{host.mqtt.subscribe_prefix}}" placeholder="some/subscribe/prefix/+">
      </dd>
      <dt>MQTT publish prefix</dt>
      <dd><input type="text" name="{{host.mqtt.publish_prefix_path}}" class="monitor_changes {{host.mqtt.publish_prefix_path}}"
           value="{{host.mqtt.publish_prefix}}" placeholder="some/publish/prefix">
      </dd>
      <dt>&nbsp</dt> <dd>&nbsp</dd>
      <dt>HTTP Firmware host</dt>
      <dd><input type="text" name="{{host.http.address_path}}" class="monitor_changes {{host.http.address_path}}"
           value="{{host.http.address}}" placeholder="http://your.firmware.host">
      </dd>
      <dt>HTTP Firmware directory</dt>
      <dd><input type="text" name="{{host.http.directory_path}}" class="monitor_changes {{host.http.directory_path}}"
           value="{{host.http.directory}}" placeholder="/some/directory/on/firmwarehost">
      </dd>
      <dt>HTTP Firmware port</dt>
      <dd><input type="number" class="monitor_changes {{host.http.port_path}}" value="{{host.http.port}}"></input>
      </dd>
      <dt>Config enable passphrase</dt>
      <dd><input type="text" name="{{config.enablepassphrase_path}}" class="monitor_changes {{config.enablepassphrase_path}}" 
           value="{{config.enablepassphrase}}" placeholder="Password_to_cahnge_config">
      </dd>
      <dt>Config enable IO pin</dt>
      <dd>
        <select class="monitor_changes {{ui.iopin_path}}">
          {{#ui.iopin}}
          <option value="{{value}}" {{#selected}}selected{{/selected}}>
            {{value}}
          </option>
          {{/ui.iopin}}
        </select>
      </dd>
      <table>
        <tr>
          <th>index</th>
          <th>Topic</th>
          <th>type</th>
          <th>IO pin</th>
          <th>Default val</th>
          <th>Inverted</th>
        </tr>
        {{#io}}
        <tr class="monitor_changes {{index_path}}">
          <td>{{index}}</td>
          <td>
            {{host.mqtt.subscribe_prefix}}
            <input type="text" name="{{topic_path}}" class="monitor_changes {{topic_path}}" 
             value="{{topic}}" placeholder="some/topic">
          </td>
          <td>
            <select class="monitor_changes {{ui.iotype_path}}">
              {{#ui.iotype}}
              <option value="{{value}}" {{#selected}}selected{{/selected}}>
                {{value}}
              </option>
              {{/ui.iotype}}
            </select>
          </td>
          <td>
            <select class="monitor_changes {{ui.iopin_path}}">
              {{#ui.iopin}}
              <option value="{{value}}" {{#selected}}selected{{/selected}}>
                {{value}}
              </option>
              {{/ui.iopin}}
            </select>
          </td>
          <td>
            <input type="number" max="255" min="0" class="monitor_changes {{default_path}}"
             value="{{default}}"></input>
          </td>
          <td>
            <input type="checkbox" class="monitor_changes {{inverted_path}}" 
             {{#inverted}}checked{{/inverted}}></input>
          </td>
        </tr>
        {{/io}}
      </table>
    </dl>
    <input type='submit' onclick="Loader.saveChanges();" value='Save'>
  </body>
  <script src="script.js"></script>
</html>
