<!DOCTYPE html>
<html>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
	<body>
		<dl>
			<dt>mac_address</dt>
      <dd>{{host.mac}}</dd>
			<dt>hostname</dt>
			<dd><input type="text" name="hostname" class="hostname" value="{{config.hostname}}"
           placeholder="hostname"><button type="button" name="save_hostname" 
           onclick="save('hostname')">Save</button>
			</dd>
			<dt>&nbsp</dt><dd>&nbsp</dd>
			<dt>IP address</dt>
			<dd><input type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" 
					 name="ip" class="ip" value="{{config.ip}}" placeholder="{{config.ip}}">
				  <button type="button" name="save_ip" onclick="save('ip')">Save</button>
					(0.0.0.0 for DHCP. Static boots quicker.)
		  </dd>
      <dt>Subnet mask</dt>
      <dd><input type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" name="subnet"
           class="subnet" value="{{config.subnet}}" placeholder="{{config.subnet}}">
          <button type="button" name="save_subnet" onclick="save('subnet')">Save</button>
      </dd>
      <dt>Gateway</dt>
      <dd><input type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" name="gateway" 
           class="gateway" value="{{config.gateway}}" placeholder="{{config.gateway}}">
          <button type="button" name="save_gateway" onclick="save('gateway')">Save</button>
      </dd>
      <dt>&nbsp</dt> <dd>&nbsp</dd>
      <dt>Static MQTT broker ip</dt>
      <dd><input type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" name="brokerip" 
           class="brokerip" value="{{config.brokerip}}" placeholder="{{config.brokerip}}">
          <button type="button" name="save_brokerip" onclick="save('brokerip')">Save
          </button>(0.0.0.0 to use mDNS auto discovery)
      </dd>
      <dt>Static MQTT broker port</dt>
      <dd><input type="number" class="brokerport" value="{{config.brokerport}}"></input>
          <button type="button" name="save_brokerport" onclick="save('brokerport')">Save</button>
      </dd>
      <dt>MQTT subscription prefix</dt>
      <dd><input type="text" name="subscribeprefix" class="subscribeprefix" 
           value="{{config.subscribeprefix}}" placeholder="some/subscribe/prefix/+">
          <button type="button" name="save_subscribeprefix" onclick="save('subscribeprefix')">
            Save
          </button>
      </dd>
      <dt>MQTT publish prefix</dt>
      <dd><input type="text" name="publishprefix" class="publishprefix"
           value="{{config.publishprefix}}" placeholder="some/publish/prefix">
          <button type="button" name="save_publishprefix" onclick="save('publishprefix')">
            Save
          </button>
      </dd>
      <dt>&nbsp</dt> <dd>&nbsp</dd>
      <dt>HTTP Firmware host</dt>
      <dd><input type="text" name="firmwarehost" class="firmwarehost"
           value="{{config.firmwarehost}}" placeholder="http://your.firmware.host">
          <button type="button" name="save_firmwarehost" onclick="save('firmwarehost')">
            Save
          </button>
      </dd>
      <dt>HTTP Firmware directory</dt>
      <dd><input type="text" name="firmwaredirectory" class="firmwaredirectory"
           value="{{config.firmwaredirectory}}" placeholder="/some/directory/on/firmwarehost">
          <button type="button" name="save_firmwaredirectory" onclick="save('firmwaredirectory')">
            Save
          </button>
      </dd>
      <dt>HTTP Firmware port</dt>
      <dd><input type="number" class="firmwareport" value="{{config.firmwareport}}"></input>
          <button type="button" name="save_firmwareport" onclick="save('firmwareport')">
            Save
          </button>
      </dd>
      <dt>Config enable passphrase</dt>
      <dd><input type="text" name="enablepassphrase" class="enablepassphrase" 
           value="{{config.enablepassphrase}}" placeholder="Password_to_cahnge_config">
          <button type="button" name="save_enablepassphrase" onclick="save('enablepassphrase')">
            Save
          </button>
      </dd>
      <dt>Config enable IO pin</dt>
      <dd>
        <select class="enableiopin">
          {{#config.enableiopin}}
          <option value="{{value}}" {{#selected}}selected{{/selected}}>
            {{value}}
          </option>
          {{/config.enableiopin}}
        </select>
      </dd>
      <table>
        <tr class="">
          <th>index</th>
          <th>Topic</th>
          <th>type</th>
          <th>IO pin</th>
          <th>Default val</th>
          <th>Inverted</th>
          <th></th>
          <th></th>
        </tr>
        {{#io.entry}}
        <tr class="device_{{index}}">
          <td>{{index}}</td>
          <td>
            {{config.subscribeprefix}}
            <input type="text" name="topic_{{index}}" class="device_{{index}}_topic" 
             value="{{topic}}" placeholder="some/topic">
          </td>
          <td>
            <select class="device_{{index}}_iotype">
              <option value="test">test</option>
              <option value="onoff">onoff</option>
              <option value="pwm">pwm</option>
              <option value="inputPullUp" selected>inputPullUp</option>
              <option value="input">input</option>
              <option value="timer">timer</option>
            </select>
          </td>
          <td>
            <select class="device_{{index}}_io_pin">
              {{#pin}}
              <option value="{{value}}" {{#selected}}selected{{/selected}}>
                {{value}}
              </option>
              {{/pin}}
            </select>
          </td>
          <td>
            <input type="number" max="255" min="0" class="device_{{index}}_default"
             value="{{default}}"></input>
          </td>
          <td>
            <input type="checkbox" class="device_{{index}}_inverted" 
             {{#inverted}}checked{{/inverted}}></input>
          </td>
          <td>
            <button type="button" name="save_{{index}}" onclick="save('device_{{index}}')">
              Save
            </button>
          </td>
          <td>
            <button type="button" name="del_{{index}}" onclick="del('device_{{index}}')">
              Delete
            </button>
          </td>
        </tr>
        {{/io.entry}}
      </table>
    </dl>
  </body>
</html>
